* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: #151515;
  color: whitesmoke;
  font-family: Arial;
}

/* Card container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid rgb(193, 193, 193);
  border-radius: 10px;
  background-color: gray;
  padding: 15px;
  margin: 10px 0px;
}

.like-btn {
  background-color: inherit;
  width: 100%;
  border: 0px;
  text-align: end;
  font-size: 25px;
}

.like-btn:hover {
  cursor: pointer;
}
